Scraping data from Yahoo Finance

In [25]:
# Import dependencies
import yfinance as yf

In [26]:
# Retrieving Tesla stock data from 2016-01-01 to 2021-02-09
TSLA_data = yf.download("TSLA","2016-01-01","2021-02-09")

[*********************100%***********************]  1 of 1 completed

In [7]:
# Check formatting
TSLA_data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [27]:
TSLA_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-12-31,47.702000,48.689999,47.674000,48.001999,48.001999,13575000
2016-01-04,46.144001,46.276001,43.799999,44.681999,44.681999,34135500
2016-01-05,45.271999,45.377998,44.000000,44.686001,44.686001,15934000
2016-01-06,44.000000,44.009998,43.195999,43.807999,43.807999,18895500
2016-01-07,42.838001,43.688000,42.734001,43.130001,43.130001,17771500
...,...,...,...,...,...,...
2021-02-01,814.289978,842.000000,795.559998,839.809998,839.809998,25391400
2021-02-02,844.679993,880.500000,842.200012,872.789978,872.789978,24346200
2021-02-03,877.020020,878.080017,853.059998,854.690002,854.690002,18343500
2021-02-04,855.000000,856.500000,833.419983,849.989990,849.989990,15812700
2021-02-05,845.000000,864.770020,838.969971,852.229980,852.229980,18524800

In [29]:
TSLA_data = TSLA_data.reset_index()

In [31]:
TSLA_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-12-31,47.702000,48.689999,47.674000,48.001999,48.001999,13575000
1,2016-01-04,46.144001,46.276001,43.799999,44.681999,44.681999,34135500
2,2016-01-05,45.271999,45.377998,44.000000,44.686001,44.686001,15934000
3,2016-01-06,44.000000,44.009998,43.195999,43.807999,43.807999,18895500
4,2016-01-07,42.838001,43.688000,42.734001,43.130001,43.130001,17771500
...,...,...,...,...,...,...,...
1279,2021-02-01,814.289978,842.000000,795.559998,839.809998,839.809998,25391400
1280,2021-02-02,844.679993,880.500000,842.200012,872.789978,872.789978,24346200
1281,2021-02-03,877.020020,878.080017,853.059998,854.690002,854.690002,18343500
1282,2021-02-04,855.000000,856.500000,833.419983,849.989990,849.989990,15812700
1283,2021-02-05,845.000000,864.770020,838.969971,852.229980,852.229980,18524800

In [13]:
TSLA_data.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [14]:
# Retrieving Microsoft stock data from 2016-01-01 to 2021-02-09
MSFT_data = yf.download("MSFT","2016-01-01","2021-02-09")

[*********************100%***********************]  1 of 1 completed

In [15]:
MSFT_data = MSFT_data.reset_index()

In [16]:
GME_data = yf.download("GME","2016-01-01","2021-02-09")

[*********************100%***********************]  1 of 1 completed

In [17]:
# Retrieving GameStop stock data from 2016-01-01 to 2021-02-09
GME_data = GME_data.reset_index()

In [35]:
TSLA_data.to_csv("../data/TSLA_stock.csv",index=False)
MSFT_data.to_csv("../data/MSFT_stock.csv",index=False)
GME_data.to_csv("../data/GME_stock.csv",index=False)

Load dataframes into SQLite Database

In [39]:
# SQL Alchemy
from sqlalchemy import create_engine
database_path = "../sqlite_db/stock_market_sqlite.db"

In [37]:
# Create Engine
engine = create_engine(f"sqlite:///{database_path}")

In [41]:
# Add TSLA, MSFT and GME stock market data to TSLA table
TSLA_data.to_sql('TSLA',con=engine,if_exists='replace')
MSFT_data.to_sql('MSFT',con=engine,if_exists='replace')
GME_data.to_sql('GME',con=engine,if_exists='replace')

OperationalError: (sqlite3.OperationalError) unable to open database file
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
# Check if data is loaded
engine.execute("SELECT * FROM TSLA").fetchall()

In [ ]:
engine.execute("SELECT * FROM MSFT").fetchall()

In [ ]:
engine.execute("SELECT * FROM GME").fetchall()